body {
    font-family: Arial, sans-serif;
    background-color: #eef2f3;
    text-align: center;
}

.container {
    background: white;
    width: 500px;
    margin: 60px auto;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 10px gray;
}

input {
    padding: 8px;
    margin: 6px;
    width: 220px;
}

button {
    background-color: blue;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 6px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}

#output {
    margin-top: 15px;
    font-weight: bold;
}

.footer {
    margin-top: 25px;
    font-weight: bold;
}